Стефанович Вячеслав ++/XSD PF-lab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clients_inf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pdata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="document">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="document_type"/>
                    <xs:element type="xs:short" name="series"/>
                    <xs:element type="xs:positiveInteger" name="number"/>
                    <xs:element type="xs:string" name="first_name"/>
                    <xs:element type="xs:string" name="surname"/>
                    <xs:element type="xs:string" name="secondname"/>
                    <xs:element type="xs:string" name="gender"/>
                    <xs:element type="xs:date" name="birth_date"/>
                    <xs:element type="xs:string" name="issued_by"/>
                    <xs:element type="xs:string" name="settlement_type"/>
                    <xs:element type="xs:string" name="settlement_name"/>
                    <xs:element type="xs:date" name="issue_date"/>
                    <xs:element type="xs:dateTime" name="current_date"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>