_Примеры/Пример шапки/One.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="passport">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="first_name" type="xs:string"/>
                <xs:element name="ser_num" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>